/* +++++++++ Text Move +++++++++ */
@keyframes slide {
    100% {
        top: -90px;
    }
}

@keyframes create-text {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }

}

/* +++++++++ End Text Move +++++++++ */

@keyframes kotak {
    0% {
        top: 59%;
        left: 20%;
    }

    15% {
        top: 53%;
        left: 30%
    }

    60% {
        top: 79%;
        left: 47%;
    }

    75% {
        top: 70%;
        left: 0;
    }

    100% {
        top: 60%;
        left: 20%;
    }




}

@media screen and (min-width: 980px) {
    @keyframes slide {
        100% {
            top: -120px;
        }
    }



}