@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,800;1,400;1,600&display=swap');

:root {
    --bg-light: #fff;
    --text-color: #95a5a6;
    --hover-color: #d0dcdd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

body {
    /* min-height: 200vh; */
    color: var(--text-color);
}


/* +++++++++ Navbar +++++++++++ */
nav {
    position: fixed;
    background-color: var(--bg-light);
    color: var(--text-color);
    width: 100%;
    padding: 0 25px;
    z-index: 9;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    /* box-shadow: 3px 3px 6px 1px black inset,
        -2px -2px 1px 0px black inset, */
    box-shadow: 0px 1px 5px 0px black;
    /* height: 75px; */
}

/* nav::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    border: 0.1px solid black;
    left: 0;
} */

nav .logo {
    margin-bottom: 5px;
}

nav .title {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    position: relative;
    overflow-x: auto;
    margin-bottom: 5px;
}

nav ul::-webkit-scrollbar {
    display: none;
}

nav ul li {
    list-style: none;
    margin-right: 25px;
}

nav ul li a {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: 300;
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--hover-color);
}

/* nav ul li a.active {
    position: relative;
}

nav ul li a.active::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    margin: 0 50%;
    width: 50%;
    background-color: var(--text-color);
}

nav ul li a.active::before {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--text-color);
} */

/* +++++++++  End Navbar +++++++++++ */

/* ++++++++++++ Home +++++++++++ */
#home {
    position: relative;
    position: flex;
    top: 65px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-light);
    padding: 75px 25px;
    overflow: hidden;
}

#home .container {
    display: flex;
    flex-direction: column-reverse;
}

#home .line {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #95a5a6;
    z-index: 1;
    top: 0;
    left: 50%;
    gap: 2px;
}

#home .line .line-1 {
    position: relative;
    width: 3px;
    height: 100%;
    background-color: white;
}

#home .line .line-2 {
    position: relative;
    width: 9px;
    height: 100%;
    background-color: white;
}




/* ===== text move ===== */


.text-silent {
    position: relative;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 1.5px;
    z-index: 3;
    padding-right: 25px;
    width: max-content;
    background-color: #fff;
    border-radius: 15px;
}


.text-move {
    height: 30px;
    line-height: 30px;
    font-size: 1.1em;
    font-weight: 400;
    overflow: hidden;
}

.text-move li {
    position: relative;
    height: 30px;
    line-height: 30px;
    list-style: none;
    top: 0;
    animation: slide 15s steps(3) infinite;
    /* margin-bottom: 30px; */
}



.text-move li span {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.text-move span::after {
    content: '';
    position: absolute;
    left: 0;
    top: -0.5px;
    height: 25px;
    width: 100%;
    background-color: var(--bg-light);
    border-left: 2px solid var(--text-color);
    animation: create-text 5s steps(17) infinite;
}

/* ===== end text move ===== */

/* ====== home image ====== */
#home .image {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
    height: 47vh;
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;
    /* border-radius: 50%; */
}

.image .card {
    position: relative;
    display: flex;
    width: 13em;
    height: 13em;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--bg-light);
    box-shadow: 1px 1px 5px 0 inset rgb(160, 157, 157),
        /* 1px 1px 1px 0 rgb(160, 157, 157), */
        /* -1px -1px 1px 0 rgb(160, 157, 157), */
        -1px -1px 5px 0 inset rgb(160, 157, 157);
    transition: .6s;
}

.image img {
    width: 100%;
    border-radius: 50%;
}

.image .card:hover {
    transform: scale(0.9, 0.9);
}

/* ========  kotak ===== */
.kotak {
    position: absolute;
    display: block;
    top: 30%;
    left: 28%;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    border: 2px solid rgb(34, 75, 75);
    animation: kotak 12s infinite;
}

/* ========  end kotak ===== */

/* ====== end home image ====== */




/* ++++++++++++ End Home +++++++++++ */

/* +++++++++++ desktop ++++++++ */
@media screen and (min-width: 980px) {

    /* ======= Navbar ====== */
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 65px;
    }

    nav .title {
        font-size: 2em;
    }

    /* nav ul {
    } */

    nav ul li a {
        font-size: 1.5em;
    }


    /* nav ul::-webkit-scrollbar {
        display: block;
        height: 3px;
        width: 12px;
        cursor: pointer;
    }

    nav ul::-webkit-scrollbar-track {
        width: 1px;
        background-color: #95a5a6;
    }

    nav ul::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10%;
    } */
    /* ======= end Navbar ====== */

    /* ====== home section ====== */
    #home .container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 60vh;
    }

    #home .container .text {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-right: 20px;
    }

    #home .container .text .hello {
        font-size: 1.3em;
    }

    #home .container .text .container-text {
        text-align: end;
    }

    #home .container .text .text-silent {
        font-size: 2em;
        padding-right: 0;
    }

    #home .container .text .text-move {
        font-size: 1.7em;
    }

    .text-move li {
        margin-bottom: 10px;
    }

    #home .text-move li span::after {
        height: 40px;
    }

    #home .image {
        height: 60vh;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }

    .image .card:hover {
        transform: scale(1.1, 1.1);
    }

    #home .line {
        position: absolute;
        display: flex;
        gap: 3px;
        top: -100px;
        left: 52%;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--bg-light);

    }

    #home .line .line-1 {
        position: relative;
        width: 5px;
        height: 200%;
        background-color: var(--text-color);
        transform: rotate(20deg);

    }

    #home .line .line-2 {
        position: relative;
        width: 9px;
        height: 200%;
        background-color: var(--text-color);
        transform: rotate(20deg);
    }

    .kotak {
        display: none;
    }


    /* ====== end home section ====== */
}

/* +++++++++++ end desktop ++++++++ */